html
{
  font-family: 'HKGrotesk-Light';
  font-weight: 300;
  font-style: normal;
  height: 100%
}

#subtext 
{
  font-family: 'HKGrotesk-LightItalic';
  font-weight: 300;
  font-style: normal;
  height: 100%
}

body
{
  height: 100%
}

@font-face {
    font-family: 'HKGrotesk-Light';
    src: url('https://korotasz.github.io/fonts/hkgrotesk/HKGrotesk-Light.otf') format('opentype');
    font-weight: 300;
}

@font-face {
    font-family: 'HKGrotesk-LightItalic';
    src: url('https://korotasz.github.io/fonts/hkgrotesk/HKGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
