html
{
  font-family: 'HKGrotesk-Light';
  src: url('/HKGrotesk/HKGrotesk-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;

  height: 100%
}

body
{
  height: 100%
}

@font-face {
    font-family: 'HKGrotesk-LightItalic';
    src: url('/HKGrotesk/HKGrotesk-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}

